.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1 {
    color: navy;
    text-align: center;
    margin-bottom: 30px;
}

.contact-info {
    line-height: 2;
}

.contact-info p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.contact-info p strong {
    color: navy;
}